### This the Panda Practice session

In [1]:
#creating Series with a list

In [3]:
import pandas as pd
import numpy as np

In [5]:

pd.Series([10,20,30,40,50,60])

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [9]:
# Creating the data and index with the help of list

In [10]:
list_data = [1,3,5,7,9,11,13]
list_index = ['a','b','c','d','e','f','g']

In [11]:
variable = pd.Series(list_data, list_index)

In [12]:
variable

a     1
b     3
c     5
d     7
e     9
f    11
g    13
dtype: int64

In [13]:
type(variable)

pandas.core.series.Series

### Creating a Pandas Series with a dictionary

In [14]:
dictionary = {
    'ferrari' : 334,
    'porche' : 337.9,
    'lamborghini' : 349
}

In [15]:
pd.Series(dictionary)

ferrari        334.0
porche         337.9
lamborghini    349.0
dtype: float64

In [16]:
variable = pd.Series(data = dictionary, index = ['porche', 'bugatti', 'ferrari'])

In [17]:
variable

porche     337.9
bugatti      NaN
ferrari    334.0
dtype: float64

### Note: As the value of the bugatti is not available, it is shown as NaN (not a number)

### Creating Pandas Series with NumPy Array

In [20]:
example = np.array([1,3,3,5,7.2,9])
labels = np.array(['a','b','c','d','e', 'f'])

In [21]:
variable = pd.Series(data=example, index= labels)

In [22]:
variable

a    1.0
b    3.0
c    3.0
d    5.0
e    7.2
f    9.0
dtype: float64

In [23]:
variable = pd.Series(data=labels, index= example)

In [24]:
variable

1.0    a
3.0    b
3.0    c
5.0    d
7.2    e
9.0    f
dtype: object

### Object Types in Series

In [25]:
example = pd.Series(['world', 100, 5.8, False])

In [26]:
example

0    world
1      100
2      5.8
3    False
dtype: object

In [27]:
example[0]

'world'

In [28]:
type(example[0])

str

In [33]:
pd.Series([sum, type, max, type])

0    <built-in function sum>
1             <class 'type'>
2    <built-in function max>
3             <class 'type'>
dtype: object

### Examining the Primary features of the Pandas

In [34]:
example =  pd.Series([10, 20, 30, 40, 50, 60, 70])

In [35]:
example

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [36]:
example.axes

[RangeIndex(start=0, stop=7, step=1)]

In [37]:
example.dtype

dtype('int64')

In [38]:
example = pd.Series(['apple', 'banana', 'mango', 'grapes'])

In [39]:
example

0     apple
1    banana
2     mango
3    grapes
dtype: object

In [40]:
example.dtype

dtype('O')

In [41]:
example =  pd.Series([10, 20, 30, 40, 50, 60, 70])

In [42]:
example

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [43]:
example.dtype

dtype('int64')

In [44]:
example.size

7

In [45]:
example.ndim

1

### Note: This ndim function checks the dimension of the series.

In [46]:
example.head()

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [47]:
example.head(2)

0    10
1    20
dtype: int64

In [48]:
example.head(3)

0    10
1    20
2    30
dtype: int64

In [50]:
example.tail()

2    30
3    40
4    50
5    60
6    70
dtype: int64

In [51]:
example.tail(3)

4    50
5    60
6    70
dtype: int64

### The most applied Methods on Pandas Series

In [53]:
variable = pd.Series(data = [8, 3, 6, 5, 1], index = ['b', 'd', 'c', 'a', 'e'])

In [54]:
variable

b    8
d    3
c    6
a    5
e    1
dtype: int64

In [55]:
new_variable = variable.sort_index()

In [56]:
new_variable

a    5
b    8
c    6
d    3
e    1
dtype: int64

In [57]:
new_variable.sort_values()

e    1
d    3
a    5
c    6
b    8
dtype: int64

In [58]:
new_variable2 = variable.sort_values()

In [59]:
new_variable2

e    1
d    3
a    5
c    6
b    8
dtype: int64

In [60]:
variable.isin([6,1])

b    False
d    False
c     True
a    False
e     True
dtype: bool

In [62]:
variable.index

Index(['b', 'd', 'c', 'a', 'e'], dtype='object')

In [64]:
variable.values

array([8, 3, 6, 5, 1], dtype=int64)

### Let's use List comprehension

In [65]:
[x for x in variable.values]

[8, 3, 6, 5, 1]

In [66]:
variable.index

Index(['b', 'd', 'c', 'a', 'e'], dtype='object')

### Using List comprehension for index

In [68]:
index = [i for i in variable.index]

In [69]:
index

['b', 'd', 'c', 'a', 'e']

In [73]:
"".join(index)    # Using the join function to join the strings removing the comma between them

'bdcae'

In [74]:
variable.items

<bound method Series.items of b    8
d    3
c    6
a    5
e    1
dtype: int64>

In [80]:
list(variable.items())    # Changing into list, NOTE : items() method gives index and values in tuple inside the list

[('b', 8), ('d', 3), ('c', 6), ('a', 5), ('e', 1)]

### Using for loop

In [81]:
for index, value in variable.items():
    print(index, ">>" , value)

b >> 8
d >> 3
c >> 6
a >> 5
e >> 1

### Indexing and Slicing Pandas

In [83]:
example = pd.Series(['+90', '+49', '+33', '+39', '+46', '+47'], index = ['Turkey','Germany', 'France', 'Italy', 'Sweden', 'Norway'])

In [84]:
example

Turkey     +90
Germany    +49
France     +33
Italy      +39
Sweden     +46
Norway     +47
dtype: object

In [85]:
example['Turkey']

'+90'

In [86]:
example[1]

'+49'

In [87]:
example["France": 'Sweden']

France    +33
Italy     +39
Sweden    +46
dtype: object

In [88]:
example[0:2]

Turkey     +90
Germany    +49
dtype: object

In [89]:
example[2:5]

France    +33
Italy     +39
Sweden    +46
dtype: object

In [90]:
#We can also use step

### [ START : STOP : STEP ]

In [91]:
example[2: 5: 2]

France    +33
Sweden    +46
dtype: object

In [92]:
example[["Norway", "Turkey"]]

Norway    +47
Turkey    +90
dtype: object